@import url("./variables.css");

body {
  overflow-y: visible;
}

.test-your-knowledge {
  margin-top: 2.2rem;
  text-align: center;
  font-size: clamp(1.9rem, 5vw, 3rem);
  font-weight: 400;
}

.blue-text {
  font-weight: 500;
}

.search-sort {
  display: flex;
  column-gap: 1rem;
  margin: 7rem 0 4rem 0;
  width: 100vw;
  justify-content: space-around;
  align-items: flex-start;
}

.sort-by-container {
  overflow: hidden;
}

.sort-by {
  display: flex;
  align-items: center;

  column-gap: 0.5rem;
  font-size: clamp(1rem, 3vw, 1.6rem);
  position: relative;
  padding-right: 1em;
  overflow: hidden;
  cursor: pointer;
}

.options-slide-blue,
.options-slide-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: transform ease-out 1s;
  -webkit-transition: transform ease-out 1s;
  -moz-transition: transform ease-out 1s;
  -ms-transition: transform ease-out 1s;
  -o-transition: transform ease-out 1s;
  cursor: initial;
}
.options-slide-blue {
  background-color: var(--clr-secondary);
  transform: translateX(105%);
  -webkit-transform: translateX(105%);
  -moz-transform: translateX(105%);
  -ms-transform: translateX(105%);
  -o-transform: translateX(105%);
}
.options-slide-text {
  background-color: var(--bcg-primary);
  transform: translateX(200%);
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
}
.options-text {
  overflow: hidden;
}
.arrow {
  width: clamp(0.8rem, 3vw, 1.1rem);
}

.transform-options-blue {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
.transform-options-text {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.sort-by-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
}

.hidden-options {
  margin-top: 0.6em;
  transition: transform ease-out 1s;
  -webkit-transition: transform ease-out 1s;
  -moz-transition: transform ease-out 1s;
  -ms-transition: transform ease-out 1s;
  -o-transition: transform ease-out 1s;
  font-size: clamp(1rem, 3vw, 1.4rem);
  cursor: pointer;
  border-left: 3px solid var(--clr-secondary);
  width: 100%;
  padding-left: clamp(1.2rem, 3vw, 1.6rem);
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.transform-options {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
.search {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  position: relative;
  width: min(40vw, 20rem);
}
.glass-label {
  margin-right: 0.8em;
  opacity: 0.6;
  transition: opacity var(--transition-speed) ease-in-out;
  -webkit-transition: opacity var(--transition-speed) ease-in-out;
  -moz-transition: opacity var(--transition-speed) ease-in-out;
  -ms-transition: opacity var(--transition-speed) ease-in-out;
  -o-transition: opacity var(--transition-speed) ease-in-out;
  cursor: pointer;
}

.glass-label:hover {
  opacity: 1;
}

.search-input {
  font-family: sans-serif;

  outline: none;
  background: none;
  border: none;
  padding-left: 0.4em;
  color: var(--clr-primary);
  font-weight: 400;
  font-size: clamp(1rem, 3vw, 1.6rem);
  width: 100%;
}

.search::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: hsla(230, 87%, 59%, 0.7);
  border-radius: 100vw;
  -webkit-border-radius: 100vw;
  -moz-border-radius: 100vw;
  -ms-border-radius: 100vw;
  -o-border-radius: 100vw;
}

.search-input::placeholder {
  color: hsla(186, 49%, 92%, 0.7);
  font-weight: 300;
}

.quizes-main {
  margin: 0 2rem;
  display: grid;
  row-gap: 2rem;
  text-align: center;
  place-items: center;
  margin-bottom: 4rem;
}

.quiz {
  width: 300px;
  height: 300px;
  border: 3px solid var(--clr-primary);
  padding: 0.8em;
  position: relative;
}

.quiz::before,
.quiz::after {
  position: absolute;
  content: "";
  z-index: -1;
  margin: -5%;
  height: 120px;
  width: 120px;
  transition: var(--transition-speed) ease-in-out;
  -webkit-transition: var(--transition-speed) ease-in-out;
  -moz-transition: var(--transition-speed) ease-in-out;
  -ms-transition: var(--transition-speed) ease-in-out;
  -o-transition: var(--transition-speed) ease-in-out;
}
.quiz::before {
  left: 0;
  top: 0;
  box-shadow: -3px -3px var(--clr-primary);
}
.quiz::after {
  right: 0;
  bottom: 0;
  box-shadow: 3px 3px var(--clr-primary);
}

.quiz-name {
  text-transform: capitalize;
  font-weight: 400;
  font-size: clamp(2rem, 5vw, 2.5rem);
}

.category {
  text-transform: capitalize;
  font-weight: 200;
  color: var(--clr-secondary);
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  margin-top: 0.3em;
}

.quiz-desc {
  margin-top: 3rem;
  font-size: clamp(1.2rem, 3vw, 1.4rem);
}
.mobile-nav {
  padding-bottom: 2rem;
}

.hide-mobile-nav {
  display: none;
}

.hide-quiz {
  display: none;
}
